.intro {
    position: relative;
  	height: 100vh;
	background: url("../images/header.jpg") no-repeat 100% top;
    background-size: cover;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba($light-blue, 0.8);
}
  
 
